# Конфигурация базы данных
DATABASE_HOST=localhost     # Хост для базы данных
DATABASE_USER=username      # Имя пользователя базы данных
DATABASE_PASSWORD=password  # Пароль базы данных
DATABASE_NAME=mydatabase    # Имя базы данных

# Провайдер API: open.er-api.com (без ключа) или openexchangerates.org (с ключом)
API_PROVIDER=open.er-api.com
# API-ключи
API_KEY=your_api_key_here
GITHUB_TOKEN=your_github_token_here